repos:
  # General ####################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: trailing-whitespace
      - id: end-of-file-fixer

      # - id: check-added-large-files # skips lfs files
      # - id: no-commit-to-branch-
      #   args: [--branch, master, --branch, main]
  # Python #####################################################################
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-ast
      - id: requirements-txt-fixer
      # - id: name-tests-test
